@import '../../index.css';

.header {
  background-color: var(--quaternary-color);
  padding: 10px 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: var(--font);
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-link {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--primary-color);
}