@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #F2EFE7;
  --secondary-color: #9ACBD0;
  --tertiary-color: #48A6A7;
  --quaternary-color: #006A71;
  --font: 'Montserrat', sans-serif;
}

.footer {
  background-color: var(--quaternary-color);
  padding: 30px 20px;
}

.footer-content p {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.footer-content p a {
  color: var(--primary-color);
  font-weight: 800;
}